footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 20px;
   background-color: #C7C6C5;
}
.info{
	width: 100%;
	text-align: ;
	font-size: 20px;

}

.info a{
	color: #333;
	text-decoration: none;
    
}

ul{
    list-style: none;
}

.info{
    padding: 30px;
    
}



